<% @taskid = @task.id %>
<h3>ID:<%= @taskid %></h3>
<h3>occurrence:<%= @task.occurrence %></h3>
<h3>deadline:<%= @task.deadline %></h3>
<p>Site Tasks:</p>
  <% @task.sitetasks.each do |sitetask| %>
    <%= link_to sitetask.site.name, site_path(sitetask.site) %>
  <% end %>
</p>
