<fieldset>
<h4> task info </h4> 
<% binding.pry %>
<% @taskdec18.each do |task| %>
    <% taskid = task.id%>
    <%= "ID: #{taskid}" %><br>
    <%= "name: #{task.name}" %><br>
    <%= "deadline: #{task.deadline}"%><br>
     <%# binding.pry %>
    <% end %>
<% binding.pry %>
</fieldset>