<h2><%= @task.name %></h2>
<p>
  Name: <%= @task.name %>
</p>
<p>Last updated:<%= last_updated @task %></p>
Orders:
  <% @task.orders.each do |order| %>
    <%= link_to order.site.name, site_path(order.site) %>
  <% end %>
</p>