<h2><%= @site.name %> </h2> has following tasks: 
<% @site.tasks.each do |task| %>
  <%= link_to task.name, site_path(task) %>
<% end %>
<%= link_to 'create a new order for site and task', new_site_order_path(@site) %>